<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Purmudan</title>
	<atom:link href="https://dev-purmudanaiagents.pantheonsite.io/feed/" rel="self" type="application/rss+xml" />
	<link>https://dev-purmudanaiagents.pantheonsite.io</link>
	<description></description>
	<lastBuildDate>Wed, 21 Feb 2024 13:40:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.4.2</generator>
	<item>
		<title>Hi IM VASSA</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa-2/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa-2/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Fri, 26 Jan 2024 22:55:16 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=880</guid>

					<description><![CDATA[Hi Im VASSA]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="880" class="elementor elementor-880">
							<div class="elementor-element elementor-element-55f1afa e-flex e-con-boxed e-con e-parent" data-id="55f1afa" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-ced1138 elementor-widget elementor-widget-heading" data-id="ced1138" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.18.0 - 20-12-2023 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h2 class="elementor-heading-title elementor-size-default">Hi Im VASSA</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7f7841f elementor-widget elementor-widget-image" data-id="7f7841f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.18.0 - 20-12-2023 */
.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>												<img fetchpriority="high" decoding="async" width="1024" height="338" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1024x338.jpg" class="attachment-large size-large wp-image-876" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1024x338.jpg 1024w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-300x99.jpg 300w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-768x253.jpg 768w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1536x507.jpg 1536w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA.jpg 1940w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
				<div class="elementor-element elementor-element-e3ef8e6 elementor-widget elementor-widget-html" data-id="e3ef8e6" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<HTML><body><script src="https://concise.cc/cdn/cb/659ed9ebcfb80279160ef242"></script></body></HTML>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im VASSA</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Fri, 26 Jan 2024 22:42:26 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=871</guid>

					<description><![CDATA[Hi Im VASSA]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="871" class="elementor elementor-871">
							<div class="elementor-element elementor-element-8135ad6 e-flex e-con-boxed e-con e-parent" data-id="8135ad6" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-e9886fc elementor-widget elementor-widget-heading" data-id="e9886fc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im VASSA</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-854d5ea elementor-widget elementor-widget-image" data-id="854d5ea" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img fetchpriority="high" decoding="async" width="1024" height="338" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1024x338.jpg" class="attachment-large size-large wp-image-876" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1024x338.jpg 1024w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-300x99.jpg 300w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-768x253.jpg 768w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA-1536x507.jpg 1536w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/VASSA.jpg 1940w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
				<div class="elementor-element elementor-element-1821249 elementor-widget elementor-widget-html" data-id="1821249" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/659ed9ebcfb80279160ef242"></script></body></html>		</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-f7fdb6c e-flex e-con-boxed e-con e-parent" data-id="f7fdb6c" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-vassa/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Peter</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-peter/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-peter/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Fri, 26 Jan 2024 12:08:52 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=818</guid>

					<description><![CDATA[Hi Im Peter]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="818" class="elementor elementor-818">
							<div class="elementor-element elementor-element-55e59b8 e-flex e-con-boxed e-con e-parent" data-id="55e59b8" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-3115ea1 elementor-widget elementor-widget-heading" data-id="3115ea1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Peter</h2>		</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-38df9c8 e-flex e-con-boxed e-con e-parent" data-id="38df9c8" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-4007144 elementor-widget elementor-widget-image" data-id="4007144" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="410" height="619" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164340.png" class="attachment-large size-large wp-image-766" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164340.png 410w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164340-199x300.png 199w" sizes="(max-width: 410px) 100vw, 410px" />															</div>
				</div>
				<div class="elementor-element elementor-element-399784b elementor-widget elementor-widget-html" data-id="399784b" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5d043e05e7f52a9fff1d1"></script></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-peter/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Betty</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-betty/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-betty/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Fri, 26 Jan 2024 12:01:55 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=813</guid>

					<description><![CDATA[Hi Im Betty]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="813" class="elementor elementor-813">
							<div class="elementor-element elementor-element-37ce410 e-flex e-con-boxed e-con e-parent" data-id="37ce410" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-b9dac5c elementor-widget elementor-widget-heading" data-id="b9dac5c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Betty</h2>		</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-fa33e65 e-flex e-con-boxed e-con e-parent" data-id="fa33e65" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-534a7d8 elementor-widget elementor-widget-image" data-id="534a7d8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="1024" height="1024" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/7.jpg" class="attachment-large size-large wp-image-760" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/7.jpg 1024w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/7-300x300.jpg 300w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/7-150x150.jpg 150w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/7-768x768.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
				<div class="elementor-element elementor-element-3d40df3 elementor-widget elementor-widget-html" data-id="3d40df3" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5fae4ac40214ed0dd0473"></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-betty/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Yogiyo</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-yogiyo/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-yogiyo/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Thu, 25 Jan 2024 10:50:06 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=737</guid>

					<description><![CDATA[Hi Im Yogiyo]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="737" class="elementor elementor-737">
							<div class="elementor-element elementor-element-24e345b e-flex e-con-boxed e-con e-parent" data-id="24e345b" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-6eb443b elementor-widget elementor-widget-heading" data-id="6eb443b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Yogiyo</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-6978895 elementor-widget elementor-widget-image" data-id="6978895" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="413" height="618" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-144908.png" class="attachment-large size-large wp-image-769" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-144908.png 413w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-144908-200x300.png 200w" sizes="(max-width: 413px) 100vw, 413px" />															</div>
				</div>
				<div class="elementor-element elementor-element-75142c1 elementor-widget elementor-widget-html" data-id="75142c1" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5fb94ac40214ed0dd0504"></script></body></html>		</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-3e2a521 e-flex e-con-boxed e-con e-parent" data-id="3e2a521" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-yogiyo/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Automous</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/automous/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/automous/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Thu, 25 Jan 2024 10:23:35 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=718</guid>

					<description><![CDATA[Here is an example of a few bots in training . Have you heard of Automous AI? Our company specializes in the creation and deployment of virtual AI agents. In a nutshell, it&#8217;s like hiring an employee for R899 per month who can do 90% of what all your employees can do just without human [&#8230;]]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="718" class="elementor elementor-718">
							<div class="elementor-element elementor-element-f2bf74f e-flex e-con-boxed e-con e-parent" data-id="f2bf74f" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-220b15f elementor-widget elementor-widget-html" data-id="220b15f" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<center><div class="box">
Here is an example of a few bots in training .
<br><br>

Have you heard of Automous AI?
Our company specializes in the creation and deployment of virtual AI agents.
<br><br>

In a nutshell, it's like hiring an employee for R899 per month
who can do 90% of what all your employees can do
just without human error and the advantage of artificial intelligence.
<br><br>

If you're interested, here are a few examples.
a
These are a few of the many live agents I've deployed
to demonstrate the vast range of capabilities our models can provide for your business
and the different ways you can train and fine-tune to your specific use case.
<br><br>

Meet PURMUDAN, PURRMUDA, ALEX and VASO.
Ask them what they can do

so not only can you use them on your websites,
on top of that, you can deploy them into your WhatsApp groups.

<br><br>

Here, let me show you an example of using a trigger word
to prompt the agent on WhatsApp for a response
to only respond when spoken to.
<br><br>

To give you an idea of a bot trained to help me build a website
<br><br>

We offer more than just personal assistants and company sales representatives.
We offer embodiments of your business ethos.
</div>
</center>
<style>
    .box{
      padding: 30px 15px;
      border: solid 1px  transparent;
      text-align:start;
      transform: translateY(25%);
      position: absolute;
      border-radius: 10px;
      margin: 5px;
      background-color: #fefefe;
      box-shadow: 0 0 10px rgba(100,00,55,0.9)

    }
    body, html {       background-color: #d0d0d0;
}
</style>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/automous/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Alex</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-alex/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-alex/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Wed, 24 Jan 2024 20:02:10 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=704</guid>

					<description><![CDATA[Hi Im Alex lets build a website to give you an idea of my specific training instructions]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="704" class="elementor elementor-704">
							<div class="elementor-element elementor-element-cfb4f23 e-flex e-con-boxed e-con e-parent" data-id="cfb4f23" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-5be8e73 elementor-widget elementor-widget-heading" data-id="5be8e73" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Alex</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f6b8ee5 elementor-widget elementor-widget-image" data-id="f6b8ee5" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="1024" height="1024" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/5.jpg" class="attachment-large size-large wp-image-753" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/5.jpg 1024w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/5-300x300.jpg 300w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/5-150x150.jpg 150w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/5-768x768.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />															</div>
				</div>
				<div class="elementor-element elementor-element-ad53466 elementor-widget elementor-widget-button" data-id="ad53466" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a class="elementor-button elementor-button-link elementor-size-sm" href="https://concise.cc/ai">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">lets build  a website to give you an idea of my specific training instructions</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-8293c81 elementor-widget elementor-widget-html" data-id="8293c81" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5b52a7f6d2e6ef81c92de"></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-alex/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Sally</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-sally-2/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-sally-2/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Wed, 24 Jan 2024 19:53:05 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=696</guid>

					<description><![CDATA[Hi Im Sally]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="696" class="elementor elementor-696">
							<div class="elementor-element elementor-element-dcbcab5 e-flex e-con-boxed e-con e-parent" data-id="dcbcab5" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-949feb8 elementor-widget elementor-widget-heading" data-id="949feb8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Sally</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-82ea12b elementor-widget elementor-widget-image" data-id="82ea12b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="409" height="622" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/8.jpg" class="attachment-large size-large wp-image-761" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/8.jpg 409w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/8-197x300.jpg 197w" sizes="(max-width: 409px) 100vw, 409px" />															</div>
				</div>
				<div class="elementor-element elementor-element-e558d7e elementor-widget elementor-widget-html" data-id="e558d7e" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5e56ce05e7f52a9fff57a"></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-sally-2/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>HI im Edd</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-edd/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-edd/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Wed, 24 Jan 2024 19:47:25 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=688</guid>

					<description><![CDATA[Hi Im Edd]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="688" class="elementor elementor-688">
							<div class="elementor-element elementor-element-aaf1a6d e-flex e-con-boxed e-con e-parent" data-id="aaf1a6d" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-d7787b0 elementor-widget elementor-widget-heading" data-id="d7787b0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Edd</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f5d15e0 elementor-widget elementor-widget-image" data-id="f5d15e0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="418" height="600" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164128.png" class="attachment-large size-large wp-image-765" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164128.png 418w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164128-209x300.png 209w" sizes="(max-width: 418px) 100vw, 418px" />															</div>
				</div>
				<div class="elementor-element elementor-element-57d3a0b elementor-widget elementor-widget-html" data-id="57d3a0b" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5f8a5ac40214ed0dd033f"></script></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-edd/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hi Im Paul</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hi-im-paul/</link>
					<comments>https://dev-purmudanaiagents.pantheonsite.io/hi-im-paul/#respond</comments>
		
		<dc:creator><![CDATA[Purmudan]]></dc:creator>
		<pubDate>Wed, 24 Jan 2024 19:33:30 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=680</guid>

					<description><![CDATA[Hi Im Paul]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="680" class="elementor elementor-680">
							<div class="elementor-element elementor-element-554215a e-flex e-con-boxed e-con e-parent" data-id="554215a" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-6df6312 elementor-widget elementor-widget-heading" data-id="6df6312" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Hi Im Paul</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-50a6dff elementor-widget elementor-widget-image" data-id="50a6dff" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="416" height="628" src="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164436.png" class="attachment-full size-full wp-image-767" alt="" srcset="https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164436.png 416w, https://dev-purmudanaiagents.pantheonsite.io/wp-content/uploads/2024/01/Screenshot-2024-01-25-164436-199x300.png 199w" sizes="(max-width: 416px) 100vw, 416px" />															</div>
				</div>
				<div class="elementor-element elementor-element-e31cfcf elementor-widget elementor-widget-html" data-id="e31cfcf" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<html><body><script src="https://concise.cc/cdn/cb/65d5e93eac40214ed0dd0111"></script></body></html>		</div>
				</div>
					</div>
				</div>
							</div>
		]]></content:encoded>
					
					<wfw:commentRss>https://dev-purmudanaiagents.pantheonsite.io/hi-im-paul/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
