<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Purmudan	</title>
	<atom:link href="https://dev-purmudanaiagents.pantheonsite.io/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://dev-purmudanaiagents.pantheonsite.io</link>
	<description></description>
	<lastBuildDate>Sun, 21 Jan 2024 12:54:04 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.4.2</generator>
	<item>
		<title>
		Comment on Hello world! by A WordPress Commenter		</title>
		<link>https://dev-purmudanaiagents.pantheonsite.io/hello-world/#comment-1</link>

		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Sun, 21 Jan 2024 12:54:04 +0000</pubDate>
		<guid isPermaLink="false">https://dev-purmudanaiagents.pantheonsite.io/?p=1#comment-1</guid>

					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://en.gravatar.com/&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
			<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://en.gravatar.com/">Gravatar</a>.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
